/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.flex{
    display: flex;
}

header{
    height: 80px;
    background-color: #FA6903;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

